*{
    padding: 0;
    margin: 0;
}
.wish{
    display: flex;
    padding: 20px;
    justify-content: center;
    
    background-color:rgb(255, 178, 234);
    
}
#hi{
    color: rgb(64, 62, 62);
}
.box{
    display: inline-block;
    border: 2px solid rgb(208, 208, 208);
    width: 120px;
    height: 120px;
    margin: 30px;
    
    
}
.name{
    display: flex;
    justify-content: center;
}
.intro{
    display: inline-block;
    justify-content: center;
    font-size: 17px;
    padding: 10px;
    margin: 3px;

    
}
.boxes{
    display: flex;
    justify-content: center;
    margin: 5%;
}

.button{
    border: none;
    border-radius: 20%;
    background-color: rgb(255, 178, 234);
    
}

.ask{
    border: 2px solid rgb(255, 178, 234);
}

.align{
    display: flex;
    justify-content: center;
    align-items: center;
   
}